:root {
  --color-primary-blue: #2b7fff;
  --color-primary-white: #ffffff;
  --color-primary-dark: #011c44;
  --color-secondary-dark-gray: #4a4a4a;
  --color-secondary-gray: #747272;
  --color-secondary-dark: #011f4a;
  --color-secondary-yellow: #ffd02b;
}

/* base */
* *::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  background-image: url(../img/background-wave.png);
  background-position: center 1400px;
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  display: inline-block;
}
.container {
  max-width: 100%;
  margin: 0 auto;
}
.section {
  padding: 48px 0;
}

/* links */
.links {
  color: var(--color-primary-dark);
  text-decoration: none;
  transition: color 0.3s;
}
.links:hover {
  color: var(--color-primary-blue);
}

/*header */
.header {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
}

.header-menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-container {
 padding-top: 32px;
  display: flex;
  align-items: center;
   max-width: 1239px;
  
}

.header-icons {
  fill: var(--color-primary-dark);
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}

.logo-header {
  line-height: 1;
  color: var(--color-primary-blue);
  text-decoration: none;
  font-family: 'Play';
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
}

.logo-header span {
  display: block;
}

/* main Section */

.container-hero {
  max-width: 1240px;
  padding-left: 206px;
  padding-top: 126px;
}
.main-section {
  background-image: url('../img/background-main.jpg');
  background-repeat: no-repeat;
  background-position: top right 50%;
  background-size: contain;
  padding: 20px 0 123px;
}

.subtitle {
  color: var(--color-primary-dark);
  margin-bottom: 16px;
  /* padding-left: 116px; */
}

.main-title {
  color: var(--color-primary-blue);
  width: 529px;
  height: 228px;
  line-height: 0.8;
  text-transform: capitalize;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 140px;
  margin-bottom: 40px;
  /* padding-left: 116px; */
}

.note {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 238px;
  height: 36px;
  color: var(--color-secondary-dark-gray);
  font-size: 12px;
}

.note-div {
  max-width: 238px;
  display: flex;
  justify-content: center;
  /* padding-left: 116px; */
}

/* button */

.button-primary {
  color: var(--color-primary-white);
  background: var(--color-primary-blue);
  border-color: var(--color-primary-blue);
  border-radius: 32px;
  width: 219px;
  height: 53px;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 14px 0;
}

.button-primary:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

/* about section */
.about-section {
  padding: 0 0px 176px 0px;
}

.about-container {
  display: flex;
  max-width: 1240px;

  /* justify-content: ; */
  gap: 28px;
}

.about-content {
  width: 709px;
}

.about-title {
  color: var(--color-primary-dark);
  max-width: 529px;
  font-family: 'Play';
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 40px;
  padding-top: 40px;
}

.subtitle-about {
  min-width: 709px;
  padding-left: 0;
  line-height: 1.7;
  color: var(--color-primary-dark);
  font-size: 22px;
  margin: 0;
}

.about-title .accent {
  color: var(--color-primary-blue);
}

.subtitle-about span {
  font-family: 'Roboto';
  font-weight: 600;
  text-transform: capitalize;
}

.subtitle-proposition {
  margin-bottom: 40px;
}
.subtitle-garant {
  margin: 0;
}

.about-img {
  width: 327px;
  height: 327px;
  border-radius: 50%;
}

.about-comparisons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  height: 695px;
  width: 499px;
  position: relative;
}

.about-comparisons img:first-child {
  align-self: flex-start;
}

.about-comparisons img:last-child {
  align-self: flex-end;
}

/* .why-section  */
.why-section {
  padding-bottom: 96px;
}

.why-we {
  color: var(--color-primary-dark);
  margin-bottom: 48px;
  font-family: 'Play';
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}

.why-we span {
  display: block;
}

.why-we .accent {
  color: var(--color-primary-blue);
}

.advantages-container {
  display: flex;
  justify-content: center;
  gap: 56px;
  padding: 0;
  /* margin botton 10, 8, 17 */
}

.why-icon {
  fill: var(--color-primary-blue);
}

.advantages-border {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  max-width: 252px;
  border: 1px solid var(--color-primary-white);
  background: var(--color-primary-white);
  border-radius: 32px;
  padding: 26px 32px;
}

.advantages-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.advantages-container li:first-child {
  padding: 29px 38px 24px 26px;
}
.advantages-container p {
  margin-bottom: 0;
  line-height: 132%;
}

/* process section */

.procedures-section {
  padding: 0 0 96px;
}
.procedure-container {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.procedures-items {
  flex-basis: calc(100% - 40px) / 3;
  position: relative;
}

.procedures-card {
  position: relative;
  border-radius: 4px 120px;
  overflow: hidden;
  transition: transform 0.3s;
}

.procedures-card:hover {
  transform: scale(1.05);
}
.procedures-card::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    var(--color-primary-dark) 101.39%
  );
  z-index: 1;
}

.process-procedures {
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 118%;
  font-size: 22px;
  position: absolute;
  bottom: 32px;
  right: 77px;
  left: 115px;
  width: 152px;
  text-align: center;
  display: block;
  margin: 0;
  color: var(--color-primary-white);
  z-index: 2;
}

.process-procedures span {
  display: block;
}

.procesures-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 16px;
  padding: 0;
}

.our-procedures {
  color: var(--color-primary-dark);
  margin-bottom: 48px;
  font-family: 'Play';
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}

.our-procedures .accent {
  color: var(--color-primary-blue);
}

.procedures-items h3 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}
/* .process-procedures {
color var(  --color-primary-white);*/

/* carousel */

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--color-primary-white);
  border: 2px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-arrow {
  fill: var(--color-primary-dark);
}

.carousel-button:hover {
  background-color: var(--color-primary-blue);
  border-color: var(--color-primary-white);
}
.carousel-button.next {
transform: rotate(180.deg);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-primary-white);
}

/* contact section */

.contact-container {
  display: flex;
  justify-content: center;

  gap: 32px;
}

.contact-section {
  padding: 0 0 96px;
}

.contacts {
  color: var(--color-primary-dark);
  margin-bottom: 48px;
  font-family: 'Play';
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}

.google-map {
  border-radius: 32px;
  flex-shrink: 0;
}

.contacts .accent {
  color: var(--color-primary-blue);
}
.contact-form {
  max-width: 423px;
}

.contact-subtitle {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 22px;
}

.button-secondary {
  color: var(--color-primary-white);
  background: var(--color-primary-blue);
  border-color: var(--color-primary-blue);
  border-radius: 32px;
  width: 281px;
  height: 53px;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 18px;
}

.privacy {
  color: var(--color-secondary-gray);
  font-size: 12px;
  line-height: 1.5;
}

/* footer section */

.footer-bg::after {
  position: absolute;
  width: 250px;
  height: 150px;
  background-image: url(../img/medicaments.png);
  content: '';
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.links-footer {
  color: var(--color-primary-white);
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-menu li:last-child a.links-footer {
  margin-bottom: 0;
}

.footer-bg {
  position: relative;
  background-image: url('../img/background-footer.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1240px;
  padding: 56px 100px;
  margin: 0 auto;
}

.footer-bg a:hover {
  color: var(--color-primary-blue);
}

.footer-bg img:hover {
  opacity: 0.8;
  color: var(--color-primary-blue);
}

.footer-logo {
  flex-grow: 1;
  color: var(--color-primary-blue);
  line-height: 0.9;
  text-decoration: none;
  font-family: 'Play';
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
}

.footer-menu {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

.confidentiality {
  color: var(--color-primary-white);
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-logo a {
  color: var(--color-primary-blue);
  text-decoration: none;
  font-family: 'Play';
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
}

.footer-logo span {
  display: block;
}

.footer-icons {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.icons-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}
/* address */

.address {
  color: var(--color-primary-white);
  text-decoration: none;
  margin-bottom: 16px;
}
.address-icon {
  fill: var(--color-primary-white);
}

.address-list,
.address-info {
  flex-grow: 0;
  padding: 0;
  margin: 0;
}
.address-info {
  display: flex;
  flex-direction: column;
  justify-content: ;
}

/* security */

.security-date {
  color: var(--color-secondary-gray);
  font-size: 13;
}

/* modal window */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.modal {
  display: none;
  position: relative;
  max-width: 723px;
  width: 100%;
  max-height: 681px;
  height: 100%;
  background-color: var(--color-primary-dark);
  border-radius: 48px;
}
.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  width: 32px;
  height: 32px;
} */
